$color1: #29425d;
$color2: rgba(255, 243, 176, 1);
$color3: rgba(224, 159, 62, 1);
$color4: rgba(158, 42, 43, 1);
$color5: rgba(84, 11, 14, 1);

body {
  color: #29425d;
  font-family: "Audiowide", sans-serif;
}
h1, h2, h3, h4 {
  font-family: "Fascinate Inline", cursive;
  color: #29425d;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.container {
  padding-bottom: 50px;
}

/* *********************** */
        /* Map and Legend  */
 /* *********************** */

#map {
  height: 600px;
  margin-top: 20px;
}

#legend {
   font-family: "Audiowide", sans-serif;
   background-color: rgba(255, 255, 255, 0.71);
   color: #29425d;
   font-size: 15px;
   text-transform: uppercase;
   text-align: center;
   padding: 10px;
   margin: 10px;
   border: 3px solid #29425d;

 }
 .legend {
   border-radius: 10px;
   color: #29425d;
   display: inline-block;
   font-size: 15px;
   line-height: 1;
   padding: 3px 5px;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
 }

 .legend::before{
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   border: 1px solid white;

}

.redMag::before {
  background-color: rgba(158, 42, 43, 1);
  margin-right: 6px;
}

.orangeMag::before {
  background-color: rgba(224, 159, 62, 1);
  margin-right: 6px;
}

.yellowMag::before {
  background-color: rgba(255, 243, 176, 1);
  margin-right: 6px;
}


 /* *********************** */
         /* Quake list  */
  /* *********************** */

#info {
  margin-top: 3em;
}
.quake-item {
  border: 0.25px solid #29425d;
  border-style: dotted;
  padding: 13px;
  text-align: center;
}
.earthquakes, .earthquakes svg {
  position: absolute;
}

.earthquakes svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
  /* width: 100%;
  height: 150px;
  padding-right: 300px;
  font: 10px sans-serif; */
}

.earthquakes circle {
  /* fill: orangered; */
  stroke: white;
  stroke-width: .1em;
}

div.tooltip {
  line-height: 1;
  background: rgba(67, 67, 67, 0.8);
  color: rgb(185, 185, 185);
  border-radius: 12px;
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 1000;
}
/* circle {
    fill: none;
    stroke-width: 1.5px;
  } */

.badge {
  background-color: #29425d;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

}
.magBadge {
  background-color: darkgrey;

}
.magBadgeRed {
  background-color: rgba(158, 42, 43, 1);
  font-size: 2em;
  margin-left: .6em;
}
.magBadgeOrange {
  background-color: rgba(224, 159, 62, 1);
  font-size: 2em;
  margin-left: .6em;
}
.magBadgeYellow {
  background-color: rgba(255, 243, 176, 1);
  font-size: 2em;
  margin-left: .6em;
}
